* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f4f4f4;
}
.navbar {
  padding-top: 1px;
  padding-bottom: 1px;
  background-color: #ffffff;
}
.dropdown:hover > .dropdown-menu {
  display: block;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: 5px;
  display: none;
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}
